<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="myApp" ng-cloak="" class="no-js">
<head>
    <title>Title</title>
</head>
<th:block th:include="fragments/headerinc :: head"></th:block>

<body layout="column">
<th:block th:include="fragments/header :: header"></th:block>

        <!--/*@thymesVar id="users" type="com.khimin.shop.controllers.UserController"*/-->

<div th:if="${not #lists.isEmpty(users)}">
    <h2>Product List</h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>username</th>
            <th>password</th>
            <th>isAccountNonLocked</th>
            <th>role</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"><a href="/users/${users.id}">Id</a></td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${user.username}">username</td>
            <td th:text="${user.password}">Password</td>
            <td th:text="${user.isAccountNonLocked}">Password</td>
            <td th:switch="${user.role?.name()}">
                <p th:case="USER">User</p>
                <p th:case="ADMIN">Admin</p>
            </td>

            <td><a th:href="${ '/user/' + user.id}">View</a></td>
            <td><a th:href="${'/user/edit/' + user.id}">Edit</a></td>
            <td><a th:href="${'/user/delete/' + user.id}">Delete</a></td>
        </tr>
    </table>

</div>

<nav>
    <ul class="pagination" th:with="total = ${users.totalPages}">
        <li th:if="${users.hasPrevious()}">
            <a th:href="@{/users(page=${users.previousPageable().pageNumber},size=${users.size})}"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li th:each="page : ${#numbers.sequence(0, total - 1)}"><a
                th:href="@{/users(page=${page},size=${users.size})}" th:text="${page + 1}">1</a></li>
        <li th:if="${users.hasNext()}">
            <a th:href="@{/users(page=${users.nextPageable().pageNumber},size=${users.size})}"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<th:block th:include="fragments/headerinc :: angular"></th:block>

</body>
</html>