<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button th:href="@{/}" aria-label="Home">
            Home
        </md-button>
        <md-button th:href="@{/products}" aria-label="Products">
            Products
        </md-button>
        <md-button th:href="@{/product/new}" aria-label="Create new product">
            Create new product
        </md-button>
    </div>
</md-toolbar>
</div>
</body>
</html>