<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button href="/" aria-label="Home">
            Home
        </md-button>
        <md-button  aria-label="Products" id="allProducts">
            Products
        </md-button>
        <md-button aria-label="Create new product" id="newProduct">
            Create new product
        </md-button>
    </div>
</md-toolbar>
</div>
</body>
</html>