<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button href="/" aria-label="Home">
                Home
            </md-button>
            <md-button href="/products" aria-label="Products">
                Products
            </md-button>
            <md-button href="/registration" aria-label="Create new registration">
                registration
            </md-button>
            <md-button href="/uploadForm" aria-label="Create new registration">
                uploadForm
            </md-button>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <md-button href="/cabinet" aria-label="Profile">
                    Profile
                </md-button>
            </div>
            <div th:if="${#authorization.expression('!isAuthenticated()')}">
                <md-button href="/login" aria-label="Log In">
                    Log In
                </md-button>
            </div>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
                <form th:action="@{/logout}" method="post">
                    <md-button type="submit" style="background: red">
                        Sing Out
                    </md-button>
                </form>
            </div>
        </div>
    </md-toolbar>
    <div sec:authorize="hasAuthority('ADMIN')">
        <md-toolbar>

            <div class="md-toolbar-tools">
                <md-button href="/users" aria-label="Users">
                    Users
                </md-button>
                <md-button href="/product/new" aria-label="Create new product">
                    Create new product
                </md-button>
            </div>

        </md-toolbar>
    </div>
</div>
</body>
</html>