<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="myApp" ng-cloak="" class="no-js">

<head>
    <title>Hello World!</title>
</head>
<th:block th:include="fragments/headerinc :: head"></th:block>
<body>
<th:block th:include="fragments/header :: header"></th:block>

    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <h1 th:inline="text">Hello [[${principle.username}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<div>
    <form class="form-horizontal">
        <p th:text="'principle Id: '+${principle.id}"></p>
        <p th:text="'Email: '+${principle.email}"></p>
        <p th:text="'Name : '+${principle.username}"></p>
        <p th:text="'Password : '+${principle.password}"></p>
        <p th:text="'Role : '+${principle.role}"></p>
        <p th:text="'isAccountNonLocked : '+${principle.isAccountNonLocked}"></p>
    </form>
</div>
<md-button th:href="${'/principle/edit/' + principle.id}" >Edit</md-button>

<!--<div th:substituteby="index::logout"></div>-->
<!--<h1>This is a secured page!</h1>-->
<!--<p><a href="/home" th:href="@{/home}">Back to home page</a></p>-->
</body>
<th:block th:include="fragments/headerinc :: angular"></th:block>
</body>
</html>