<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="myApp" ng-cloak="" class="no-js">
<head>
    <title>Spring Boot Example</title>
    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>

<header>
<div ng-controller="AppCtrl" layout="row" layout-align="end  center">
    <md-button class="md-raised" id="SingIn">Sing in
    </md-button>
    <md-button class="md-raised" id="SingUp" ng-click="SingUp($event)">Sing
        up
    </md-button>
</div>
</header>

<script type="text/ng-template" id="forgetpassword.html">
    <md-toolbar>
        <div class="md-toolbar-tools" style="background-color: lightskyblue ;">
            <md-icon md-svg-src="img/icons/ic_person_24px.svg" ></md-icon>
            <!--<h2  style="color: white; align-content: center">^_^</h2>-->
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-tooltip md-direction="left">Cancel</md-tooltip>
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content md-theme="dark-yel" layout-padding layout-align="start center">
        <div layout-align="center center" style="padding-right: 30px;">
            <div class="md-headline">
                Forgot your password ?
            </div>
        </div>
        <div class="md-subhead">
            To reset your password, type the full email address
        </div>
        <md-input-container style="width: 350px; margin-bottom: -30px;">
            <form name="userForm">
                <label> Email Address</label>
                <input name="email" ng-model="UserData.email" type="email" required/>
                <div ng-messages="userForm.email.$error">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="email">Введіть електронну адресу у форматі someone@example.com</div>
                </div>
            </form>
        </md-input-container>
        <br><br><br><br>
        <div ng-controller="AppCtrl">
            <md-dialog-actions layout="row" style="margin-top: -40px;  z-index: 10">
                <md-button class="md-raised" style="background-color: black; color: white" ng-click="cancel()">Cancel
                </md-button>
                <span flex></span>
                <md-button class="md-raised md-primary" ng-click="sendemail(); cancel()"
                           ng-disabled="userForm.$invalid">
                    Send
                </md-button>
            </md-dialog-actions>
        </div>
    </md-content>
</script>

<script type="text/ng-template" id="SingUp.html">
    <div ng-controller="AppCtrl" ng-cloak="" class="SingUpTemplate">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-icon md-svg-src="img/icons/ic_person_24px.svg" aria-label="User"></md-icon>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-tooltip md-direction="left">Cancel</md-tooltip>
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-tabs md-dynamic-height md-stretch-tabs="always" md-border-bottom>
            <md-tab label="Registration">
                <form name="userForm">
                    <md-dialog-content style="background-color: white">
                        <div class="md-dialog-content" style="margin-top:-20px">
                            <md-input-container class="md-icon-float md-block" md-theme="docs-dark">
                                <!-- Use floating label instead of placeholder -->
                                <label>Email</label>
                                <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
                                <input name="email" ng-model="UserData.email" type="email" required/>
                                <div ng-messages="userForm.email.$error">
                                    <div ng-message="required">This is required!</div>
                                    <div ng-message="email">Введіть електронну адресу у форматі someone@example.com
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-icon-float md-block" md-theme="docs-dark"
                                                style="margin-top: -10px">
                                <!-- Use floating label instead of placeholder -->
                                <label>Login name</label>
                                <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                                <input name="login" ng-model="UserData.login" required/>
                                <div ng-messages="userForm.login.$error">
                                    <div ng-message="required">This is required!</div>
                                </div>
                            </md-input-container>


                            <!--Password-1-->
                            <div layout="row" layout-sm="column" style="margin-top: -20px;">
                                <div flex>
                                    <md-input-container class="md-block" md-theme="docs-dark">
                                        <label>Password</label>
                                        <md-icon
                                                md-svg-src="bower_components/material-design-icons/action/svg/production/ic_https_24px.svg"></md-icon>
                                        <input minlength="6" md-maxlength="15" name="Password"
                                               ng-model="UserData.password" required
                                               data-ng-class="{'ng-invalid':userForm.ConfPas.$error.match}"
                                               type="{{inputType}}"/>
                                        <div ng-messages="userForm.Password.$error">
                                            <div ng-message="required">This is required!</div>
                                            <div ng-message="minlength">Пароль має складатись з 6 або більше символів та
                                                містити літери та цифри
                                            </div>
                                            <div ng-message=" md-maxlength">Your password too long!</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <!--Password-2-->
                                <div flex>
                                    <md-input-container class="md-block" md-theme="docs-dark">
                                        <label>Confirm Password</label>
                                        <md-icon
                                                md-svg-src="bower_components/material-design-icons/action/svg/production/ic_https_24px.svg"></md-icon>
                                        <input minlength="6" md-maxlength="15" name="ConfPas"
                                               data-match="UserData.password" ng-model="UserData.ConfPas" required
                                               type="{{inputType}}"/>
                                        <div ng-messages="userForm    .ConfPas.$error">
                                            <div ng-message="required">This is required!</div>
                                            <div ng-message="match">Passwords do not match!</div>
                                            <div ng-message="minlength">Your password too short!(min 6)</div>
                                            <div ng-message=" md-maxlength">Your password too long!</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <md-switch ng-model="passwordCheckbox" ng-click="hideShowPassword()"
                                           style="margin-left: 30px">

                                    <div class="hint">
                                        <label ng-if="passwordCheckbox"></label>
                                        <label ng-if="!passwordCheckbox"></label>
                                    </div>
                                </md-switch>
                            </div>
                        </div>
                    </md-dialog-content>


                    <md-dialog-actions layout="row" style="margin-top: -40px;  z-index: 10">
                        <md-button class="md-raised" style="background-color: black; color: white" ng-click="cancel()">
                            Cancel
                        </md-button>
                        <span flex></span>
                        <md-button class="md-raised md-primary" ng-click="registration(); cancel()"
                                   ng-disabled="userForm.$invalid">
                            Create
                        </md-button>
                    </md-dialog-actions>
                </form>
            </md-tab>
            <md-tab label="Login">
                <form name="Form">

                    <md-dialog-content style="background-color: white" layout-padding="" ng-cloak="">
                        <div class="md-dialog-content" style="margin-top:-20px">
                            <md-input-container class="md-block" md-theme="docs-dark">
                                <label>Email</label>
                                <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
                                <input name="email" ng-model="UserData.email" type="email" required/>
                                <div ng-messages="Form.email.$error">
                                    <div ng-message="required">This is required!</div>
                                    <div ng-message="email">Введіть електронну адресу у форматі someone@example.com
                                    </div>
                                </div>
                            </md-input-container>
                            <div layout="row" layout-sm="column">
                                <div flex>

                                    <md-input-container class="md-block" md-theme="docs-dark"
                                                        style="margin-top: -10px;">
                                        <label>Password</label>
                                        <md-icon
                                                md-svg-src="bower_components/material-design-icons/action/svg/production/ic_https_24px.svg"></md-icon>
                                        <input minlength="6" md-maxlength="15" style="width:450px; " name="password"
                                               ng-model="UserData.password" required type="{{inputType}}"/>
                                        <div ng-messages="Form.password.$error">
                                            <div ng-message="required">This is required!</div>
                                            <div ng-message="minlength">Пароль має складатись з 6 або більше символів та
                                                містити літери та цифри
                                            </div>
                                            <div ng-message=" md-maxlength">Your password too long!</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <md-switch style="margin-top: -10px;" ng-model="passwordCheckbox"
                                           ng-click="hideShowPassword()">
                                    <label ng-if="passwordCheckbox"></label>
                                    <label ng-if="!passwordCheckbox"></label>
                                </md-switch>
                            </div>

                            <md-checkbox aria-label="Remember me" style="margin-left: 4px">
                                Remember me
                            </md-checkbox>

                            <md-button ng-click="forgetpassword($event)">
                                <label style="text-decoration: underline; color:dodgerblue;">
                                    Did you forget your password ?
                                </label>
                            </md-button>

                        </div>
                    </md-dialog-content>
                    <md-dialog-actions layout="row" style="margin-top:-20px; ">
                        <md-button class="md-raised" style="background-color: black; color: white" ng-click="cancel()">
                            Cancel
                        </md-button>
                        <span flex></span>
                        <md-button ng-click="showlogin(); cancel()" class="md-raised md-primary"
                                   ng-disabled="Form.$invalid">
                            Login
                        </md-button>
                    </md-dialog-actions>
                </form>
            </md-tab>
        </md-tabs>
    </div>
</script>
<!--<div ng-include src="'/products'"></div>-->

<th:block th:include="fragments/headerinc :: angular"></th:block>

</body>
</html>
