<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>
</head>
<th:block th:include="fragments/headerinc :: head"></th:block>
<body>
<th:block th:include="fragments/header :: header"></th:block>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <input type="hidden"                        6
           name="${_csrf.parameterName}"
           value="${_csrf.token}"/>
    <div><input type="submit" value="Sign In"/></div>
</form>
<th:block th:include="fragments/headerinc :: angular"></th:block>
</body>
</html>