<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="myApp" ng-cloak="" class="no-js">
<head>
    <title>Spring Security Example </title>
</head>
<th:block th:include="fragments/headerinc :: head"></th:block>
<body>
<th:block th:include="fragments/header :: header"></th:block>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<!--<form th:action="@{/login}" method="post">-->
    <!--<div><label> User Name : <input type="text" name="username"/> </label></div>-->
    <!--<div><label> Password: <input type="password" name="password"/> </label></div>-->
    <!--<input type="hidden"                        -->
           <!--name="${_csrf.parameterName}"-->
           <!--value="${_csrf.token}"/>-->
    <!--<div><input type="submit" value="Sign In"/></div>-->
<!--</form>-->
<form  th:action="@{/login}" method="post">

    <md-content layout="column" layout-align="start start" flex layout-padding>
        <span flex class="md-headline">User Details</span>
        <div md-theme="green" flex>
            <md-input-container>
                <label>Username</label>
                <input type="text" name="username">
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="text" name="password">
            </md-input-container>
            <md-button type='submit' class="md-raised md-primary">Submit</md-button>
        </div>
    </md-content>
</form>

<th:block th:include="fragments/headerinc :: angular"></th:block>
</body>
</html>