<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="myApp" ng-cloak="" class="no-js">
<head lang="en">

    <title>Spring Boot Example</title>

</head>
<body>


<form  th:object="${product}" th:action="@{/product}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{version}"/>
    <md-content  layout="column"  layout-align="start start" flex layout-padding>
    <span flex class="md-headline">Product Details</span>
        <div md-theme="green" flex>
        <md-input-container>
            <label>Product Id</label>
            <input type="text" th:field="*{productId}">
        </md-input-container>
        <md-input-container>
            <label>Name</label>
            <input type="text" th:field="*{name}">
        </md-input-container>
        <md-input-container>
            <label>Price</label>
            <input type="text" th:field="*{price}">
        </md-input-container>

        <md-button type='submit' class="md-raised md-primary">Submit</md-button>
        </div>
    </md-content>
</form>
</body>
</html>
