<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="myApp" ng-cloak="" class="no-js">
<head lang="en">

    <title>Spring Boot Example</title>
    <th:block th:include="fragments/headerinc :: head"></th:block>

</head>
<body>
    <th:block th:include="fragments/header :: header"></th:block>

<h2>Product Details</h2>
    <div>
        <form class="form-horizontal" th:object="${product}" th:action="@{/product}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>
            <md-input-container>
                <label>Product Id</label>
                <input type="text" th:field="*{productId}">
            </md-input-container>
            <md-input-container>
                <label>Name</label>
                <input type="text" th:field="*{name}">
            </md-input-container>
            <md-input-container>
                <label>Price</label>
                <input type="text" th:field="*{price}">
            </md-input-container>

            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
    <th:block th:include="fragments/headerinc :: angular"></th:block>
</body>
</html>
