<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="myApp" ng-cloak="" class="no-js">
<head>
    <title>Spring Security Example </title>
</head>
<th:block th:include="fragments/headerinc :: head"></th:block>
<body>
<th:block th:include="fragments/header :: header"></th:block>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form th:object="${uploadForm}" th:action="@{/uploadForm}" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input type="file" th:name="file"/></td>

            </tr>
            <tr>
                <td></td>
                <md-button type="submit" value="Upload" style="background-color: red">Upload</md-button>
            </tr>
        </table>
    </form>
</div>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}"/>
        </li>
    </ul>
</div>

<th:block th:include="fragments/headerinc :: angular"></th:block>
</body>
</html>
